.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 24px;
  flex-direction: column;
}

.class_form{
  margin-top: 18px;
}

.input_holder{
  padding: 7px 15px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 16px;
}

.input_submit{
  cursor: pointer;
  padding: 7px 15px;
  margin-left: 8px;
  border-radius:4px;
  border: 3px solid rgb(151, 195, 251);
  background-color:rgb(151, 195, 251);
  font-size: 16px;
  color: white;
}

.input_submit:hover{
  cursor: pointer;
  padding: 7px 15px;
  margin-left: 8px;
  border-radius:4px;
  border: 3px solid rgb(151, 195, 251);
  background-color:white;;
  font-size: 16px;
  color: rgb(151, 195, 251)
}

.recipe_map{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 285px 285px;
  align-items: baseline;
}

.drop_down{
  padding: 8px 10px;
  margin-left: 7px;
  border-radius: 4px;
}